@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 97%;
    --foreground: 20 14% 4%;
    --card: 0 0% 100%;
    --card-foreground: 20 14% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14% 4%;
    --primary: 173 80% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 92% 60%;
    --secondary-foreground: 20 14% 4%;
    --muted: 60 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 340 82% 94%;
    --accent-foreground: 341 91% 39%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 173 80% 40%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 60 9% 98%;
    --card: 24 10% 11%;
    --card-foreground: 60 9% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 60 9% 98%;
    --primary: 173 80% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 35 92% 60%;
    --secondary-foreground: 20 14% 4%;
    --muted: 24 10% 11%;
    --muted-foreground: 240 4% 64%;
    --accent: 340 82% 94%;
    --accent-foreground: 341 91% 39%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 60 9% 98%;
    --border: 24 10% 21%;
    --input: 24 10% 21%;
    --ring: 173 80% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
